.project
.settings
*~
*.bak
*.diff
*.patch
/*.html
.DS_Store
.bower.json
.sizecache.json
yarn.lock
package-lock.json

npm-debug.log*

# Ignore everything in dist folder except for eslint config
#/dist/*
#!/dist/.eslintrc.json

/node_modules

/test/node_smoke_tests/lib/ensure_iterability.js

# analyze_github script cache:
__forks.info__/
__forks__.bulk_dump


######################################
# NPM-specific ignores:

.eslintignore
.eslintrc.json

/.editorconfig
/.gitattributes
/.mailmap
/.travis.yml

/build
/speed
/test
/Gruntfile.js

/external/qunit
/external/requirejs
/external/sinon
